$max-width: 1440;
$max-page-padding: 165;
$min-page-padding: 24;

$max-mobile-width: 576px;
$max-tablet-width: 992px;

$amin-time: 300ms;

$c_black: #2C2830;
$c_grey: #837D88;
$c_dark-blue: #2D2641;
$c_blue: #96A9C6;
