.about {
  &__content {
    display: grid;
    @include adaptive-value('row-gap', 96, 80);
  }

  &__title {
    position: relative;
    @include adaptive-value('padding-top', 63, 40);
    @extend %h2;

    @include onTablet {
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 150px;
      height: 1px;
      background-color: #C396C6;

      @include onTablet {
        left: 50%;
        translate: -50%;
      }
    }
  }
  
  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;

    @include onTablet {
      grid-auto-flow: row;
      justify-content: center;
      row-gap: 56px;
    }
  }
}
