.about-card {
  display: grid;
  row-gap: 32px;
  max-width: 500px;

  @include onTablet {
    justify-items: center;
  }

  &__icon {
    position: relative;
    width: 86px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $c_blue;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: block;
      width: 32px;
      aspect-ratio: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--thunder {
      &::before {
        background-image: url("/public/images/thunder.svg");
      }
    }

    &--dollar {
      &::before {
        background-image: url("/public/images/dollar.svg");
      }
    }

    &--person {
      &::before {
        background-image: url("/public/images/person.svg");
      }
    }
  }

  &__article {
    display: grid;
    row-gap: 16px;

    @include onTablet {
      text-align: center;
    }
  }

  &__title {
    @extend %h3;
  }

  &__text {
    color: $c_grey;
  }
}
