.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1.5px solid $c_black;

  &::before,
  &::after,
  &__line {
    display: block;
    width: 16px;
    height: 1.5px;
    background-color: $c_black;
    transition-duration: $amin-time;
  }

  &__line {
    &--active {
      scale: 0;
    }
  }

  &::before,
  &::after {
    content: '';
  }

  &::before {
    translate: 0 -3.5px;
  }

  &::after {
    translate: 0 3.5px;
  }

  &--active {
    &::before {
      rotate: 45deg;
      translate: 0 1.75px;
    }

    &::after {
      rotate: -45deg;
      translate: 0 -1.75px;
    }
  }
}
