.button {
  display: block;
  width: 146px;
  height: 40px;

  &--large {
    width: 100%;
    max-width: 400px;
    height: 50px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1.5px solid $c_black;
    @extend %button-text;
    color: $c_black;
    transition-duration: $amin-time;

    &:hover {
      background-color: $c_black;
      color: $c_white;
    }

    &--white {
      border-color: $c_white;
      color: $c_white;

      &:hover {
        background-color: $c_white;
        color: $c_dark-blue;
      }
    }
  }
}
