.find-out {
  color: white;

  &__content {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 70px;
    @include adaptive-value('padding-inline', 81, 24);
    background-color: $c_dark-blue;
    background-image: url("/public/images/desktop/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    @include onTablet {
      grid-auto-flow: row;
      row-gap: 40px;
      justify-content: center;
      justify-items: center;
    }

    @include onMobile {
      background-image: url("/public/images/mobile/bg-pattern-how-we-work-mobile.svg");
    }
  }

  &__title {
    @extend %h2;

    @include onTablet {
      text-align: center;
    }
  }
}
