.footer {
  @include adaptive-value('padding-block', 64, 88);
  background-color: $c_light-grey;
  background-image: url("/public/images/desktop/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;

  @include onMobile {
    background-image: url("/public/images/mobile/bg-pattern-footer-mobile.svg");
    background-position: top center;
    background-size: 100%;
  }

  &__content {
    display: grid;
    @include adaptive-value('row-gap', 48, 40);
  }

  &__top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    @include adaptive-value('padding-bottom', 36, 40);

    @include onMobile {
      grid-auto-flow: row;
      justify-items: center;
      justify-content: center;
      row-gap: 32px;
    }
  }
}
