.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $c_white;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
  }

  &__right {
    display: grid;
    grid-auto-flow: column;
    column-gap: 33px;
    align-items: center;

    @include onTablet {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include onTablet {
      display: flex;
    };
  }
}
