$max-offset: 105;
$min-offset: 93;

.hero {
  position: relative;
  @include adaptive-value('margin-bottom', $max-offset, $min-offset);
  background-color: $c_dark-blue;
  color: $c_white;

  @include onMobile {
    margin-bottom: 0;
  }

  &__pattern {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;

    &--big {
      top: 0;
      right: 0;
      height: 90%;
      aspect-ratio: 370 / 510;
      background-image: url("/public/images/desktop/bg-pattern-intro-right-desktop.svg");

      @include onTablet {
        height: 50%;
      }

      @include onMobile {
        top: auto;
        bottom: 0;
        height: 35%;
        translate: 0 55%;
        aspect-ratio: 130 / 350;
        background-image: url("/public/images/mobile/bg-pattern-intro-right-mobile.svg");
      }
    }

    &--small {
      bottom: 0;
      left: 0;
      height: 70%;
      aspect-ratio: 280 / 650;
      translate: 0 60%;
      background-image: url("/public/images/desktop/bg-pattern-intro-left-desktop.svg");

      @include onTablet {
        height: 40%;
      }

      @include onMobile {
        top: 0;
        translate: -35% 0;
        height: 60%;
        aspect-ratio: 8 / 10;
        background-image: url("/public/images/mobile/bg-pattern-intro-left-mobile.svg");
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    @include onTablet {
      grid-template-columns: 1fr;
    }

    @include onMobile {
      position: relative;
    }
  }

  &__article {
    @include adaptive-value('padding-block', $max-offset, $min-offset);

    @include onTablet {
      padding-bottom: 0;
    }

    @include onMobile {
      display: grid;
      justify-items: center;
      @include adaptive-value('padding-bottom', $max-offset, $min-offset);
    }
  }

  &__title {
    position: relative;
    margin-bottom: 16px;
    padding-top: 63px;
    @extend %h1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 1px;
      background-color: $c_white;
    }

    @include onMobile {
      padding-top: 0;
      text-align: center;

      &::before {
        display: none;
      }
    }
  }

  &__text {
    @include adaptive-value('margin-bottom', 24, 32);

    @include onMobile {
      text-align: center;
    }
  }

  &__image {
    position: relative;
    @include adaptive-value('top', $max-offset, $min-offset);
    display: block;
    width: 100%;
    object-position: top;
    object-fit: contain;

    @include onMobile {
      display: none;
    }

    &--mobile {
      display: none;

      @include onMobile {
        position: static;
        display: block;
      }
    }
  }
}