.logo {
  display: block;
  width: 112px;
  height: 18px;
  background-image: url("/public/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
