.menu {
  width: 100%;
  height: 100vh;
  padding-top: $header-height + 40px;
  background-color: $c_black;
  background-image: url("/public/images/mobile/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom 20% left 0;
  background-size: contain;

  &__content {
    display: grid;
    justify-items: center;
    row-gap: 24px;
  }
}