.nav {
  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
  }

  &__link {
    @extend %button-text;
    color: $c_grey;
    transition-duration: $amin-time;

    &:hover {
      color: $c_black;
    }
  }
}
