.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  @extend %main-text;

  &__content {
    display: grid;
    @include adaptive-value('row-gap', 150, 140);
    flex-grow: 1;
    @include adaptive-value('margin-bottom', 150, 140);
  }

  &__menu {
    display: none;
    translate: 100%;
    transition-duration: $amin-time;

    &--active {
      translate: 0;
    }

    @include onTablet {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
    }
  }
}
