%main-text {
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

%h1 {
  font-family: "DM Serif Display", 'Times New Roman', Times, serif;
  @include adaptive-value('font-size', 72, 48);
  font-weight: 400;
  line-height: 100%;
  @include adaptive-value('letter-spacing', -1, -0.67);
}

%h2 {
  font-family: "DM Serif Display", 'Times New Roman', Times, serif;
  @include adaptive-value('font-size', 56, 40);
  font-weight: 400;
  line-height: 100%;
  @include adaptive-value('letter-spacing', -0.78, -0.56);
}

%h3 {
  font-family: "DM Serif Display", 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.39px;
}

%button-text {
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

%menu-link-text {
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.36px;
  text-align: center;
  text-transform: uppercase;
}
