@font-face {
  font-family: "DM Serif Display";
  font-display: swap;
  src: url("../fonts/DMSerifDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Karla;
  font-display: swap;
  src: url("../fonts/Karla-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Karla;
  font-display: swap;
  src: url("../fonts/Karla-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@import "./reset";
@import "./utils";
@import "./typography";
@import "./blocks";
